---
title: Kiyah Mitchell
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css' | relative_url }}"
    />
  </head>
  <body>
    {% include header.html %}
    <div class="hero">
      <h1>Hello, my name is Kiyah. I'm a Web Developer based in Dallas, TX.</h1>
      <p>
        I'm a freelance web developer passionate about building functional,
        user-friendly websites while growing my skills. Take a moment to explore
        my portfolio and learn more about my projects and journey in web
        development. 
      </p>
    </div>
    {% include footer.html %}
  </body>
</html>
