* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-box {
    height: 200px;
    width: 300px;
    margin: 15px;
    background-color: blue;
}

.box-overlay {
    text-align: center;
    padding: 80px;
    height: 200px;
    width: 300px;
}

.box-overlay:hover {
    background-color: rgba(255, 255, 255, .5);
    width: 300px;
}
