* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body {
    scroll-behavior: smooth;
}

nav {
    background-color: #121212;
    color: white;
    height: 50px;
}

.logo {
    letter-spacing: 1px;
    margin-left: 20px;
    padding: 8px;
    font-weight: 100;
    font-size: 25px;
}


.hero {
    height: 100vh;
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction {
    letter-spacing: 2px;
    text-align: center;
}

.about {
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
}

.hero a {
    text-decoration: none;
    color: white;
    margin-top: 90px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    padding: 15px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgba(91, 202, 230, .7);
}



.projects {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects h2 {
    margin: 20px;
    font-size: 15px;
    letter-spacing: 2px;
}

.projects a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    flex-direction: column;
    display: flex;
}

#project-section {
    margin-right: 40px;
}