<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      href="{{ 'assets/css/styles.css' | relative_url }}"
    />
  </head>
  <body>
    <main>
      {{ content }}
      <!-- This is where your homepage content from index.html or index.md will go -->
    </main>

    <footer>
      <p>
        &copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights
        reserved.
      </p>
    </footer>
  </body>
</html>
